/* common shared styles  */
* {
  margin: 0px;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.primary-btn {
  width: 180px;
  height: 70px;
  background-color: #e55473;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/* banner related styles  */
.banner {
  display: flex;
  gap: 100px;
  background-color: #e7d4d696;
}
.banner-item {
  padding-top: 200px;
  padding-left: 240px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 30px;
}
.banner-description {
  color: #2b292999;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 30px;
}
.banner-picture {
  width: 635px;
  height: 800px;
  padding-top: 50px;
  padding-right: 240px;
}
/* feature related styles  */
.feature-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 180px;
}
.feature-description {
  color: #2b292999;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 600px 48px 600px;
}
.flower {
  display: flex;
  text-align: center;
  gap: 24px;
  margin: 0px 240px 30px 240px;
}
.flower-a {
  background-color: #f8e0e9;
  width: 450px;
  height: 523px;
  border-radius: 300px 300px 0px 0px;
}
.flower-b {
  background-color: #bddee0;
  width: 450px;
  height: 523px;
  border-radius: 300px 300px 0px 0px;
}
.flower-c {
  background-color: #e0f3ce;
  width: 450px;
  height: 523px;
  border-radius: 300px 300px 0px 0px;
}
.flower-pink {
  margin-top: 95px;
}
.flower-red {
  margin-top: 100px;
}
.flower-yellow {
  margin-top: 52px;
}
.flower-name {
  display: flex;
  margin-top: 24px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.pink {
  margin-left: 360px;
}
.red {
  margin: 0px 280px;
}
/* delivery related styles  */
.delivery {
  display: flex;
  /* gap: 100px; */
  background-color: #e7e2e2;
  width: 1398px;
  height: 280px;
  margin: 120px 240px 0px 240px;
  border-radius: 8px;
}
.delivery-man {
  padding-top: 80px;
  padding-left: 280px;
}
.bouquet {
  padding-top: 80px;
  padding-left: 220px;
}
.support {
  padding-top: 80px;
  padding-left: 170px;
}
.delivery-info {
  color: #333333cc;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding-top: 24px;
  padding-left: 100px;
}
/* hot deal related styles  */
.hot-deal {
  display: flex;
  gap: 180px;
  background-color: #e9e6e696;
  margin-top: 120px;
  width: 1920px;
  height: 620px;
}
.deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.deal-color {
  color: #e55473;
}
.deal-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  width: 594px;
  padding-bottom: 32px;
}
.deal-item {
  padding-top: 230px;
  padding-left: 390px;
}
.deal-picture {
  padding: 100px;
}
/* instagram section related styles  */
.insta-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 120px;
}
.insta-description {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 24px 640px 48px 640px;
}
.insta-picture {
  display: flex;
  gap: 24px;
  margin-left: 240px;
}
/* what do you like section related styles  */
.favourite-flower {
  background-color: #e9e6e696;
  margin-top: 120px;
}
.favourite-title {
  color: #080808;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 35px;
}
.tulip {
  width: 200px;
  height: 200px;
}
.trillium {
  width: 200px;
  height: 200px;
}
.rose {
  width: 200px;
  height: 200px;
}
.favourite-flower-picture {
  display: flex;
  gap: 200px;
  padding-left: 450px;
  padding-top: 35px;
}
.favourite-checkbox {
  display: flex;
  gap: 300px;
  padding-left: 460px;
  padding-top: 30px;
}
.checkbox-title {
  color: #272727;
  font-size: 24px;
  font-weight: 600;
}
.submit-btn {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 50px;
}
/* latest deal related styles  */
.latest-deal {
  background-image: url("../assets/Rectangle\ 9.png");
  width: 1440px;
  height: 449px;
  margin-top: 130px;
  margin-left: 240px;
}
.latest-deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 120px;
}
.latest-deal-description {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 48px;
}
.subscribe-section {
  display: flex;
  gap: 16px;
  padding-left: 280px;
}
.subscribe-email {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  border-style: none;
  padding-left: 22px;
}
/* footer related styles  */
.footer-section {
  background-color: #111010;
  margin-top: 130px;
  height: 450px;
}
.footer-heading {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  padding-top: 130px;
}
.flower-part {
  color: #e55473;
}
.shop-part {
  color: #ffffff;
}
.footer-description {
  color: #f3ebebe6;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 24px 600px 32px 600px;
}
.footer-ending {
  color: #f0ecec66;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 130px;
}
